*{
    color: #4C594E;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}

.top-bar{
    display: flex;
    margin-top: 40px;
    margin-right: 60px;
    margin-left: 60px;
    height: 40px;
    gap:16px;
    justify-content: space-around;
}

.top-bar .empty{
    flex: auto;
}

.btns{
    display: flex;
    column-gap: 40px;
    justify-content: flex-end;
}
.btn{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn:hover{
    background-color: #b8d8be;
    border: 2px solid #b8d8be;
    color: white;
}

.logo{
    margin-right:auto;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-top: 10px;
    flex: none;
}

.logo:hover{
    color: #b8d8be
}

.first{
    flex: auto;
    display: flex;
    column-gap: 100px;
    height: 675px;
    justify-content: center;
    flex-wrap: wrap;
}

.headshot{
    flex:initial;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
    transition-duration: 0.3s;
}

.headshot:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.heading{
    font-weight: normal;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading p{
    margin: 5px;
}

.name{
    color: #b8d8be;
}

.subtext{
    font-size: 20px;
    color: gray;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
    margin-left: 8px;
    margin-top: 10px;
    z-index: 99999;
}

.logos .github{
    height: 30px;
}

.logos .linkedin{
    margin-top: 15px;
    height: 32px;
}

.second{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 150px;
}

.content{
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content .subtitle{
    font-size: 20px;
}

.project{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.project img{
    height: 200px;
}

.contact-page .first{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    column-gap: 0px;
}
.contact-page .first .empty{
    flex: auto;
    width: 400px;
}
.connect{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    column-gap: 100px
}

.connect .title{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.connect .greenify{
    color: #b8d8be
}

.connect .subtitle{
    color: #829986;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
}
.connect .contact-info{
    flex: initial;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.connect .contact-info a{
    flex: auto;
    transition-duration: 0.3s
}


.connect .contact-info a:hover{
    color: #b8d8be
}

.resume-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    grid-row-gap: 10px;
}
.resume-pdf{
    display: flex;
    justify-content: center;
}
.resume-pdf > iframe{
    width: 700px;
    height: 1000px
}
